	/* Where the CSS variables live. Controls values at runtime, responds to themes (e.g. .dark class). */
  
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --color-border: hsl(var(--border));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));


    --color-card: hsl(var(--card));

    --animate-fade-in: fade-in 0.7s ease-out forwards;
    --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
    --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
    --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
    --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
    --animate-fade-in-delay-5: fade-in 0.7s ease-out 1.0s forwards;
}

@layer base {
    :root {
        --background: 210 40% 98%;
        --foreground: 222 47% 11%;

        --card: 0 0% 90%;
        --primary: 250 27% 30%;
        --primary-foreground: 210 40% 98%;
        --border: 214 32% 91%;

        --animate-fade-in: fade-in 0.7s ease-out forwards;
        --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
        --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
        --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
        --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
        --animate-fade-in-delay-5: fade-in 0.7s ease-out 1.0s forwards;
    } 

    .dark {
        --background: 130 26% 9%;
        --foreground: 213 31% 91%;

        --card: 119 19% 42%;
        --primary: 46 15% 83%;
        --primary-foreground: 213 31% 91%;
        --border: 82 20% 62%;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    html {
        @apply scroll-smooth;
    }

    body {
        @apply transition-colors duration-300;
        font-feature-settings: "rlig" 1, "calt" 1;
        /* adding the font for the site here */
        font-family: 'Playfair Display', serif;
    }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}
